header{
    background-image: url("pattern.webp");
    
}
header h1{
    font-family:Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}
h2{
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.vert h2{
    background-color: lightcoral;

}

.bleu h2{
    background-color: blue;

}



.rose h2{
    background-color: mediumspringgreen;

}

.prixbleu{
    font-family: helvetica;
    font-weight: bold;
    color: blue;
}

h3{
    font-family: Helvetica, sans-serif;
}
p{
    font-family: helvetica;
    font-size: 13px;
}
